*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    background-color: #6c38d3;
    height: 50rem;
    
}




.nav-links{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-left: 20rem;
    color: white;
    font-size: larger;
    margin-top: -2rem;
    list-style-type: none;
}

.logopng{
    margin-top: 3rem;
    margin-left: 7rem;
}

.nav-bars:nth-child(1){
    color: #7bebfe;
    text-decoration: underline;
    font-size: x-large;
    margin-top: -0.2rem;
}


.nav-btn{
    padding: 15px;
    width: 150px;
    border: none;
    cursor: pointer;
    background-color: #0ea4bb;
    border-radius: 7px;
    color: white;
    margin-top: -1rem;
}


.cloud{
    margin-left: 45%;
    margin-top: 4rem;
}


.container-title{
    color: white;
    font-size: 4.5rem;
    font-family: "poppins" sans-serif;
    width: 350px;
    margin-top: -30rem;
    margin-left: 6rem;
}


.container-details{
    color: white;
    font-size: larger;
    width: 350px;
    margin-top: 2rem;
    margin-left: 6rem;
}


.Division-1{
    margin-left: 58%;
    margin-top: 6rem;
}

.laptop{
    margin-top: 11rem ;
    margin-left: 8rem;
}

.right{
    width: 400px;
    font-size: large;
}


.list-details{
    margin-top: 1.5rem;
    width: 400px;
    color: #636363;

}


.list-title{
    margin-top: 2rem;
}


.Division-2{
    margin-top: 10rem;
}


.Title-1{
    text-align: center;
    font-family: "orbitons", sans-serif;
    font-size: 3rem;
}


.card-container{
    display: flex;
    margin-top: 8rem;
    gap: 80px;
    margin-left: 3rem;
    
}

.Division-2{
    height: 550px;
}


.card-details{
    width: 210px;
    margin-top: 2rem;
    font-size: large;
    text-align: center;
}


.card-title{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    
}


.end-img{
    margin-left: 1.5rem;
}

#end-img{
    margin-left: 2rem;
}


.card{
    
    padding: 2px;
    height: 320px;
    box-shadow: 0 0 5px grey;
    border-radius: 10px;
    
    
    
}


.card:hover{
    box-shadow: 0px 5px 2px 5px crimson;
}


.card-text{
    background-color: #9638d9;
    
    padding: 27px;
    padding-left: 20px;
    margin-top: 0.5rem;
    border-top-left-radius: 15px ;
    border-top-right-radius: 15px;
}

@media screen and (max-width: 768px) {
    html{}

    .container-title{
        color: white;
        font-size: 1.5rem;
        font-family: "poppins" sans-serif;
        width: 100px;
        margin-top: -30rem;
        margin-left: 3rem;
    }

    .logopng{
        margin-top: 1rem;
        margin-left: 2rem;
    }
    
    .cloud{
        margin-left: 20%;
        margin-top: 2rem;
        width: 100%;
        margin-left: 1%;
    }

    .navi-containe{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 1rem;
    }

    .nav-bars{
        display: none;
    }

    .nav-btn {
        padding: 0.6rem 1.3rem;
        font-size: 1rem;
        background: #0ea4bb;
        color: #fff;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }

    .container-2{
        display: flex;
        text-align: center;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        margin: 0rem 1rem;
        gap: 0;
        color: #fff;

    }

    .container-left{
        flex: auto;
    }

    .container-right img {
        height: 20rem;
        display: none;

    }

    .container-title{
        font-size: 6rem;
        margin-bottom: 2rem;
        line-height: 1.4;
        font-size: 1.5rem;
        /* display: none; */
        margin-top: 30%;
        width: 100%;
        margin-left: 6%;
    }

    .container-title h1{
        font-size:large ;
    }

    .container-details{
        line-height: 1.4;
        font-size: 1.1rem;
        display: none;
    }

    /* .container-title{
        line-height: 1.4;
        font-size: 1.1rem;
    } */

    .Division-1{
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }

    .container-right{
        flex: 1.3;
    }

    .right{
        flex: 0.7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .right > h1 {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .list-1-container{
        display: flex;
        flex-direction: column;
    }

    .list {
        width: 90%;
    }

    .list-title{
        font-weight: 600;
        font-size: 1.5rem;
        margin: 2.3rem 0 0.6rem;
    }

    .list-details{
        color: rgb(99, 99, 99);
        margin-left: 28px;
      
    }

    .card-container{
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
        margin: 2rem;
        text-align: center;
    }

    .Title-1{
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 4rem;
        font-size: 2.5rem;
    }

    .card{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        width: 250px;
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        border-radius: 5px;
    }

    .img-container{
        width: 120px;
        height: 120px;
        border-radius: 100%;
        background-color: #e4cac5;
        display: grid;
        place-content: center;
        margin: 2rem;
    }

    .img-container img {
        width: 60px;
    }

    .card-text {
        background: #9638d9;
        padding: 1rem;
        border-radius: 20px 20px 5px 5px;
    
        color: #fff;
    }

    .card-title {
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .cont2 {
        background: #c3bef257;
    }
    .cont3 {
        background: #bcd9ba;
    }
    .cont4 {
        background: #c49aff;
    }
    
}